<!-- Useless as already on the main Layout <p id="notice"><%= notice %></p> -->


<div class="mx-auto text-light">
    <%= image_tag ActivityList.find(@activity.activity_list_id).icon, class: "col-4 offset-4" %>
    <div class="bg-primary py-3 mt- col-8 offset-2">
        <p class="lead"><%= ActivityList.find(@activity.activity_list_id).name %></p>
        <p>
            Date: <%= @activity.date %>
        </p>
        <p>
            Duration: <%= @activity.duration %> minutes
        </p>
        <p>
            Intensity: <%= @activity.intensity %> 
        </p>
        <p>
            <!-- kcalX on the ActivityList table are in hour so it needs /60 (and better be after the '*' to have less wrong round up to integer) -->
            Kcalories burned:      
            <% if @activity.intensity == "light" %>
                <%= ((ActivityList.find(@activity.activity_list_id).kcallight) * @activity.duration) / 60 %>
            <% elsif @activity.intensity == "hard" %>
                <%= ((ActivityList.find(@activity.activity_list_id).kcalhard) * @activity.duration) / 60 %>
            <% else %>
                <%= ((ActivityList.find(@activity.activity_list_id).kcalmedium) * @activity.duration) / 60 %>
            <% end %>
        </p>
        <p>
            Notes: <%= @activity.notes %> 
        </p>
        <% if current_user && current_user.id === @activity.user_id %>
            <%= link_to 'Edit', edit_activity_path(@activity), class: "ml-3 btn btn-light" %> 
        <% end %>
        <%= link_to 'Back', activities_path, class: "btn btn-light float-right mr-3" %>
    </div>
</div>
