<!DOCTYPE html>
<html>
  <head>
    <title>MoveAndGroove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
	  <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
  <!-- Header bar  -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary my-0">
    <%= link_to image_tag("MoveAndGroove.png", class: "col-3 col-sm-8 col-md-3 col-lg-6  navbar-brand m-0 p-0", id: "navbar-logo"), root_path %>
    <%= link_to "Move And Groove", root_path, class: "col-4 col-sm-4 col-md-6 m-0 ml-2 mr-5 p-0 pr-5 navbar-brand text-white navbar-left"  %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Activities", activities_path, class: "nav-link text-white" %>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "#{current_user.name}'s profile", edit_user_registration_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link text-white", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-white"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white"  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="d-flex flex-column" style="height:110vh">
  <% if notice %>
    <p class="alert alert-primary notice my-0 mx-3"><%= notice %>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger my-0 mx-3"><%= alert %>
  <% end %>
  <%= yield %>
  <div class="flex-grow-1"></div>
  </div>

  <!-- Footer bar with the links -->
  <footer class="container bg-primary col-12 text-light mx-0 my-0 py-3">
    <div class="row">
      <div class="col-8">
        <p>© Move and Groove 2020 </p>
      </div>
      <div class="col-4">
          <div class="navbar-nav">
            <span>    
              <%= link_to "Home", root_path, class: "mx-3 text-white" %>
              <%= link_to "Activities", activities_path, class: "text-white" %>
            </span>
          </div>
        </div>
    </div>
  </footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>